// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_container{
  margin-top: 2vh;
}

#main_title{
  margin-bottom: 2vh;
}

#nav {
  border-bottom: solid 15px lightgreen;
  border-radius: 20px;
}

#member_section {
  background-color: skyblue;
}

.member_border{
  border-bottom: solid 3px lightgreen;
  border-radius: 20px;
  text-align: center;
}

#card{
  margin: 5%;
}

#news_container{
  max-height: 45vh;
  overflow-y: auto;
}

.details_container{
  max-height: 4vh;
  overflow: hidden;
}

.fa-chevron-down{
  display: block;
  text-align: center;
}

.fa-chevron-up{
  display: block;
  text-align: center;
}

.form{
  margin: 10vh 20vw auto 20vw;
}

.section_title{
  margin-top: 1vh;
  text-align: center;
  border: solid 2px black;
  min-width: 100%;
  display: block;
}

.Threew{
  min-height: 18vh;
}

.w_card{
  min-height: 8vh;
  max-height: 8vh;
  overflow: hidden;
}
