<footer >
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">
    <span class="footer">(310)829-7829</span>
    </br>
    <span class="footer">Info@SMClub21.org</span>
  </div>
  <div class="col-sm-4" id="social-media">
    <a href="#"><img class="media-icon" src='/Instragram.png' /></a>
    <a href="#"><img class="media-icon" src='/google plus.png' /></a>
    <a href="#"><img class="media-icon" src='/twitter.png' /></a>
    <a href="#"><img class="media-icon" src='/facebook.png' /></a>
  </div>
</footer>
