
<div class="container-fluid" id="nav">
  <h1 id="logo-container">
    <img id="nav-logo" src='/Club 21.png' />
  </h1>
  <nav class=" navbar-expand-lg navbar-light bg-faded navi">
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="col-sm-12">
        <div class="row">
          <a class="col-md-3 col-sm-12 nav-item nav-link" href="/">Home</a>
          <a class="col-md-3 col-sm-12 nav-item nav-link left-link" href="/direction">Direction</a>
          <a class="col-md-3 col-sm-12 nav-item nav-link right-link" href="/info">Info</a>
          <a class="col-md-3 col-sm-12 nav-item nav-link " href="/education">Education</a>
        </div>
      </div>

        <!-- <ul class="nav navbar-nav navi">
          <li class="list-inline-item">
            <a class="nav-item nav-link" href="/">Home</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-item nav-link" href="/direction">Direction</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right ml-auto navi">
          <li class="list-inline-item">
            <a class="nav-item nav-link" href="/info">Info</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-item nav-link" href="/education">Education</a>
          </li>
        </ul> -->
    </div>
  </nav>
</div>
