
<div id="nav">
  <h1 id="logo-container">
    <img id="nav-logo" src='/Club 21.png' />
  </h1>
  <nav class=" navbar-expand-lg navbar-light bg-faded navi">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <div class="col-md-12">
        <%if current_position === "home"%>
        <div class="nav-align">
          <a class="col-md-3 nav-item nav-link" id="current" href="/">Home</a>
          <a class="col-md-3 nav-item nav-link" href="/direction">Direction</a>
          <a class="col-md-3 nav-item nav-link" href="/info">Info</a>
          <a class="col-md-3 nav-item nav-link" href="/education">Education</a>
        </div>
        <%elsif current_position === "direction"%>
        <div class="nav-align">
          <a class="col-md-3 nav-item nav-link" href="/">Home</a>
          <a class="col-md-3 nav-item nav-link" id="current" href="/direction">Direction</a>
          <a class="col-md-3 nav-item nav-link" href="/info">Info</a>
          <a class="col-md-3 nav-item nav-link" href="/education">Education</a>
        </div>
        <%elsif current_position === "info"%>
        <div class="nav-align">
          <a class="col-md-3 nav-item nav-link" href="/">Home</a>
          <a class="col-md-3 nav-item nav-link" href="/direction">Direction</a>
          <a class="col-md-3 nav-item nav-link" id="current" href="/info">Info</a>
          <a class="col-md-3 nav-item nav-link" href="/education">Education</a>
        </div>
        <%elsif current_position === "education"%>
        <div class="nav-align">
          <a class="col-md-3 nav-item nav-link" href="/">Home</a>
          <a class="col-md-3 nav-item nav-link" href="/direction">Direction</a>
          <a class="col-md-3 nav-item nav-link" href="/info">Info</a>
          <a class="col-md-3 nav-item nav-link" id="current" href="/education">Education</a>
        </div>
        <%else %>
        <div class="nav-align">
          <a class="col-md-3 nav-item nav-link" href="/">Home</a>
          <a class="col-md-3 nav-item nav-link" href="/direction">Direction</a>
          <a class="col-md-3 nav-item nav-link" href="/info">Info</a>
          <a class="col-md-3 nav-item nav-link" href="/education">Education</a>
        </div>
        <%end%>
      </div>

    </div>
  </nav>
</div>
