<div class="container-fluid" id="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav col align-self-start">
          <li class="list-inline-item">
            <a class="nav-item nav-link" href="/">Home</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-item nav-link" href="/direction">Direction</a>
          </li>
        </ul>
        <ul class="nav navbar-nav col align-self-center">
          <li class="list-inline-item">
            LOGO
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right align-self-end ml-auto">
          <li class="list-inline-item">
            <a class="nav-item nav-link" href="/info">Info</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-item nav-link" href="/education">Education</a>
          </li>
        </ul>
    </div>
  </nav>
</div>
